body,
html {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

input,
textarea {
    outline: none;
}

.barra-superior {
    width: 100%;
    height: auto;
    background-color: #34487c;
    color: white;
    padding: 8px 5px;
    display: flex;
    justify-content: space-between;
    flex-flow: flex-end;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-login {
    width: auto;
    min-width: 30px;
    text-align: right;
}

.container-chat {
    width: 90%;
    max-width: 300px;
    height: auto;
    max-height: 500px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    background-color: #d3d3d3;
    box-sizing: border-box;
    padding: 8px;
    border: #34487c 1px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container-chat>iframe {
    width: 100%;
    border: none;
    height: 400px;
}

.botao-excluir-conta {
    position: fixed;
    bottom: 2px;
    left: 2px;
}

.container-usuarios {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    height: auto;
    background: #d6dced;
    padding: 10px;
    box-sizing: border-box;
}

.box-usuarios {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    background-color: #d6dced;
    border: 1px solid #d6dced;
    width: 100%;
    box-sizing: border-box;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: #34487c 3px solid;
    margin-right: 10px;
    background-color: #34487c;
}


/* MENSAGEM*/

.caixa-texto {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    height: auto;
    min-height: 50px;
    border-radius: 5px;
    border: 1px #34487c solid;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-form {
    height: auto;
    display: flex;
}

.botoes-extras {
    width: 100%;
}

.saida {
    padding: 8px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 8px;
    border: #34487c 1px solid;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    box-sizing: border-box;
    background-color: #d2daec;
}

.entrada {
    padding: 8px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 8px;
    border: #34487c 1px solid;
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    box-sizing: border-box;
    background-color: #fcfdfe;
}

.data-hora {
    font-size: 9px;
    font-weight: 100;
    color: #34487c;
    margin-bottom: 5px;
}

#container-lista-usuarios {
    display: block;
    height: 0px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    transition: all .5s;
    box-sizing: border-box;
    background-color: #fafafade;
}

#container-lista-usuarios>div {
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}